dj-database-url==0.4.2
Django==1.11
django-crispy-forms==1.6.0
django-filter==1.0.4
django-pagedown==0.1.1
djangorestframework==3.5.3
djangorestframework-jwt==1.11.0
gunicorn==19.7.1
Markdown==2.6.8
markdown2==2.3.1
markdown==2.3.1
Pillow==3.1.0
psycopg2==2.7.3
PyJWT==1.5.2
python-env==1.0.0
pytz==2017.2
whitenoise==3.3.0